<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Review</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


</head>


<body>

  <!-- 하단 푸터 시작 -->
  <div id='wrapper'>
    <div>
    </div>
  </div>
  <footer style="margin-top:300px;">
  <h3 class="avo-title"> AVO </h3>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/instagram-logo.png">
  </a>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/facebook-logo.png">
  </a>

  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/twitter-logo.png">
  </a>


  <p class="footer-content1">avo@gmail.com</p>
  <p class="footer-content2">@ 2022 Review service from AVO</p>
  </footer>

  <!-- 하단 푸터 끝 -->


</body>
</html>
