<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Review</title>
  <link rel="stylesheet"  type="text/css" href="css/index.css"/>
  <link rel="stylesheet"  type="text/css" href="css/bar.css"/>

  <link rel="stylesheet"  type="text/css" href="css/drop-down.css"/>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  <style>
  body{
    background-color: white;
    height: 100vh;

    background-size: 100% 110%;
    top:0;
    background-repeat: no-repeat;
  }
  a {
    text-decoration-line : none;
  }

  .test{
    background-image: url(../img/reviewer_6.gif);
    background-size: 100% 100%;
    top:0;
  }


  .keyword-search{
    padding-top: 10px;
    padding-left: 10px;
  }

  #btn_toggle{
    width:55px;
    height: 30px;
    font-size:10px;
    border:1px solid #ddd;
    background-color:#2F5971;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
  }
  #Toggle{
    font-size:10px;
    color: #666;
  }


  .select1{
    padding-right: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
  }


  *{margin:0;padding:0;}
  ul,li{list-style:none;}
  .slide{
      text-align: center;
      margin-top: 120px;
      width:100%;
      height:100%;
      overflow:hidden;
      margin-bottom: 0px;
  }
  /* width */
  .slide ul{width:100%; height:100%;}
  .slide li{width:100%; height:100%;}
  .slide li:nth-child(1){background:none;}
  .slide li:nth-child(2){background:none;}
  </style>


  <script>
    $(function(){
      $(window).scroll(function(){
        var navbar = $(this).scrollTop();
        console.log(navbar);
        var $header = $('.bar-index');
        if(navbar > 35){
          $header.addClass('activated');
        }else{
          $header.removeClass('activated');
        }
      })
    })
    </script>
    <script>
    const all = ele => document.querySelectorAll(ele)
    const one = ele => document.querySelector(ele)
    const slide = _ => {
      const wrap = one('.slide') // .slide 선택
      const target = wrap.children[0] // .slide ul 선택
      const len = target.children.length // .slide li 갯수
      // .slide ul의 너비 조정
      target.style.cssText = `width:calc(100% * ${len});display:flex;transition:1s`
      // .slide li의 너비 조정
      Array.from(target.children)
      .forEach(ele => ele.style.cssText = `width:calc(100% / ${len});`)
      // 화면 전환 실행
      let pos = 0
      setInterval(() => {
        pos = (pos + 1) % len // 장면 선택
        target.style.marginLeft = `${-pos * 100}%`
      }, 10000) // 1500 = 1500ms = 1.5sec. 즉, 1.5초 마다 실행
    }
    window.onload = function () {
      slide()
    }
    </script>



</head>

<body>

  <!-- 상단바   -->

  <div class="bar-index">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->




      <!--
      <a href="/search.html">
      <img width="130px" style="padding-left: 800px; padding-bottom: 40px;" src="img/review_button.png">
    </a>

    <a href="/search.html">
    <img width="130px" style="padding-left: 800px; padding-bottom: 40px;" src="img/review_button.png">
  </a>

  <a href="/analysis.html">
  <img  width="130px" style="padding-left: 30px; padding-bottom: 40px;" src="img/analysis_button.png">
</a>
-->


<body>

<!-- 배너 -->
  <div class="slide">
  <ul>
      <li><img src="../img/test1.png" style="height:700px;"> </li>
      <li><img src="../img/test2.png" style="height:700px;"> </li>
    </ul>
  </div>


  <br/>

<!-- 배너 끝 -->


<br/>
<br/>
<br/>


<!-- 하단 푸터 시작 -->
<div id='wrapper'>
  <div>
  </div>
</div>
<footer class="footer-index">
<h3 class="avo-title"> AVO </h3>
<a href="/">
  <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/instagram-logo.png">
</a>
<a href="/">
  <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/facebook-logo.png">
</a>

<a href="/">
  <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/twitter-logo.png">
</a>


<p class="footer-content1">reviewer3566@gmail.com</p>
<p class="footer-content2">@ 2022 Review service from AVO</p>
</footer>

<!-- 하단 푸터 끝 -->

</body>
</html>
