select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 35px;
  font-size: 9pt;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  background-color: rgb(233, 233, 233);
  padding: .6em.1.4em.5em.8em;
  margin: 0;
  border:0;
  border-radius: 15px;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  text-align: center;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

label {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  color: #444;
  margin-right: 0.5em;
}

hr {
  display: true;
  border: 1px;
  height: 3px;
  bachground-color: gray;
}

.input-box{

  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);

}

.search-box{

  width: 80px;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
  border: 4px solid rgb(233, 233, 233);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

.bar{
    position: fixed;
    background-color: white;
    height: 80px;
    width:100%;
    z-index: 4;
    background-image: url( "../img/bar-bg.gif" );
    background-size: 100% 100%;
}
.bar-index{
    position: fixed;
    background-color: none;
    height: 80px;
    width:100%;
    z-index: 4;
    background-image: url( "../img/bar-bg.gif" );
    background-size: 100% 100%;
}

.bar-index.activated{
    background-color:white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

body{
  margin: 0;
  height: 0px;
  background-color: #F1F2EC;
  text-align: center;
  align-items: center;

}


.iframe-preview{
  top:0;
  margin-left: 75px;
  display: inline;
  display:block;
}

.my_page{
  top:0;
  width:120px;
  height:70px;
}

.menu-bar-txt{
  float:right;
  padding-right: 70px;
  padding-top:40px;
  color:gray;
}

.dropbtn2{
  display : block;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 5px;
  float: right;
  background-color: #2F5971;
  font-size:10px;
  font-weight: 400;
  color : rgb(124, 124, 124);
  padding : 12px;
  width :100px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
  z-index :1;
  position : relative;
}
