hr{display: true;}

.side-menu{
  margin-top: 57px;
}
ol {
  list-style-type: none;
  background-color: #2F5971;
  background-image: url(../img/sidebar.png);
  width:200px;
  padding:0;
  margin:0;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 12px;
}

.top_box{
  background-color: #2F5971;
  background-image: url(../img/my-app-list-banner.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 120px;
  position: relative;
  top: 100px;
}

.top_box_add{
  background-color: #2F5971;
  background-image: url(../img/add-my-app-banner.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 120px;
  position: relative;
  top: 100px;
}

.top_box_my{
  background-color: #2F5971;
  background-image: url(../img/add-my-app-banner.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 120px;
  position: relative;
  top: 100px;
}

.exTxt{
  font-size:14px;
  color: #C6C6C6;
  display: block;
  margin-bottom: 3px;
  padding-top: 10px;
}

.exTxt2{
  font-size:14px;
  color: #9A9A9A;
  display: block;
  margin-bottom: 3px;
  padding-top: 10px;
}

.my_app_list{
  overflow: auto;
  overflow-x:hidden;
  border: 1px solid;
  width: 50%;
  height: 65%;
  position: relative;
  margin-left: 25%;
  margin-top: 8%;
  border: none;
}

.rela{
  position: relative;
}

.absol{
  position: absolute;
  margin-left: 90%;
  top: 31%;
  width: 10%;
}

.my_app_list::-webkit-scrollbar{
  width: 12px;
}

.my_app_list::-webkit-scrollbar-thumb {
   background-color: #BFBFBF;
   border-radius: 20px;
 }

 .my_app_list::-webkit-scrollbar-track {
   background-color: none;
 }


.menu{
  width: 200px;
  font-size: 14px;
  margin: auto;
  text-decoration-line : none;
  text-align: center;
  align-items: center;
  display: block;
  color: #ffffff;
  padding: 15px 30px 15px 0px;
}

.menu.job{
  text-align: center;
  background-color: #ffffff;
  color:black;
}

.menu:hover:not(.job){
  background-color: #ffffff;
  color:black;
}

body {
  margin: 0;
  height: 1000px;

}


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border : 1px solid rgb(37, 37, 37);
  border-radius : 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width :200px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}
.dropdown-content{
  display : none;
  position : absolute;
  top:0;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 100px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;

}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown-content {
  display: block;
}


.menu-hr{
  background-color: #2F5971;
  height: 1px;
  margin-top: 5px;
  width: 103px;
}

.menu-hr-main{
  background-color: #white;
  color:white;
  height: 1px;
  margin-top: 60px;
  width: 103px;
}


.app-name{

  text-align: left;
  align-items: left;
  margin-bottom: 20px;
  margin-top:20px;
  font-size: 16px;
  color:white;
  font-weight: bold;
}

.app-name-box{
  width: 140px;
  height: auto;
  cursor : pointer;
}
.other-app{
  float:right;
  margin-top:2px;
  margin-right: 5px;
  background-color: transparent;
  color:white;
  border: none;
}
.report-s {
  font-size:11px;
  margin-top: 10px;
  padding-top:20px;
  color: #2F5971;
  font-weight: bold;
}

.report-c {
  float:left;
  padding-left: 7px;
  font-size:12px;
  margin-top:2px;
  padding-top:20px;
  color:#2F5971;
}



/* #slidemenu{
  background:#C9E3E5;
  color:white;
  position:fixed;
  margin-top: 210px;
  margin-bottom: 400px;
  width:105px;
  height: 400px;
  top:50px;
  left:155px;
  border-radius: 20px;
} */

#slidemenu{
position: absolute;
width: 105px;
height: 400px;
top: 50px;
background-color: #999900;
color: #fffffff;
margin-top: 210px;
margin-bottom: 400px;
background:#C9E3E5;
color:white;
left:210px;
border-radius: 20px;
z-index: 0;
}

.report-btn{
  margin-top: 30px;
  margin-left: 5px;
  float: left;
  font-size: 12px;
  color: #fff;
  background-color: #2F5971;
  font-weight: bold;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 10px;
  cursor : pointer;

}

.iframe-preview{
  top:0;
  margin-left: 350px;
  margin-top: 100px;
  display: inline;
  display:block;
}

.my_page{
  z-index:5;
  width:100px;
  height:60px;
}
