<!DOCTYPE html>
<html lang="ko">
<head>
<title>Review</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"  type="text/css" href="../css/index.css"/>
<link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
<link rel="stylesheet"  type="text/css" href="../css/report.css"/>
<link rel="stylesheet"  type="text/css" href="../css/drop-down.css"/>
<link rel="stylesheet"  type="text/css" href="../css/popup.css"/>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<style>
body{
  background-color: #F1F2EC;
  height: 100vh;
  background-image: linear-gradient( rgba(241,242,236, 0.5), rgba(241,242,236, 0.5) ), url('/img/background-move!.gif');
  background-size: 100% 110%;
  background-opacity: 0.5;
  top:0;
  background-repeat: no-repeat;
}

h2{

  margin-top: 25px;

  color:#2F5971;
}
span{
  font-size: 12px;
  color: #A3A8AA;
}

.myapp-btn{
  font-size: 14px;
  color: #fff;
  background-color: #2F5971;
  font-weight: bold;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 30px;
  margin-top: 200px;
  margin-bottom: 10px;

}

.search-img{
  background-image: url("../img/search.png");
  background-position: right 15px bottom 12px;
  background-size: 25px;
  background-repeat: no-repeat;
}

.input-box-add{
  font-size: 16px;
  width: 800px;
  height: 50px;
  background-color: rgb(233, 233, 233);
  border-radius: 40px;
  border: 4px solid rgb(233, 233, 233);
  box-shadow: 2px 2px 2px 2px #b7b7b7;
}


.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}


#recommend {
  text-align: center;
	margin-top: 5px;
	position: absolute;
	background: white;
  border-radius: 5px;

}

.item {
	height: 1.8em;
	width: 500px;
	outline: none;
}

.item:hover {
	color: #9baec8;
}
.text {
	font-weight: bold;
}
.invisible {
	display: none;
  text-align: center;
}
</style>

<script>
  function register_app(){
    location.href="#pop_info_1"
    location.href="/member/register_app?app_name=" + document.getElementById('app_name').value;
  }

</script>

</head>


<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->

  <!-- 마이앱 시작 -->
  <div class="top_box_add rela">
  </div>

  <div>
    <img src="../img/reviewerlogo.png" style="width:140px; height:130px;margin-top:180px;margin-right:650px;">
  </div>


    <form method="post" action="/review/url" target="targetURL2">

      <div style="display:inline;" class="center">
        <input autocomplete="false" class="input-box-add search-img" id="app_name" name="app_name" style="margin-top:100px; text-align:center; position: relative;" maxlength="10" placeholder="앱 이름 입력">
          <!-- <div id="recommend" class="invisible">
            <div class="item"><span class="text"></span></div>
      			<div class="item"><span class="text"></span></div>
      			<div class="item"><span class="text"></span></div>
          </div> -->
        </div>

    </form>

</div>
  <div class="wrap">
    <button class="btn_open myapp-btn" onclick='register_app()'> 내 어플로 등록하기 </button>
  </div>
      <div id="pop_info_1" class="pop_wrap" style="display:none;">
        <div class="pop_inner">
          <h3>등록 완료!</h3><br/>
            <p class="ok-txt">이제 My App 에서 리뷰 관리가 가능합니다!<br/>다양한 분석 기능을 활용하여 내 어플을 관리해보세요.</p>
              <button type="button" class="btn_close" onclick="location.href='/member/my_app';">닫기</button>
        </div>
      </div>


<script>
    const inputBox = document.querySelector("input");
    const recommendBox = document.querySelector("#recommend");
    const texts = document.querySelectorAll(".text");

    inputBox.addEventListener("keyup", (e) => {
    	if (e.target.value.length > 0) {
    		recommendBox.classList.remove('invisible');
    		texts.forEach((textEl) => {
    			textEl.textContent = e.target.value;
    		});
    	} else {
    		recommendBox.classList.add('invisible');
    	}
    });

    var target = document.querySelectorAll('.btn_open');
var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
var targetID;

// 팝업 열기
for(var i = 0; i < target.length; i++){
  target[i].addEventListener('click', function(){
    targetID = this.getAttribute('href');
    document.querySelector(targetID).style.display = 'block';
  });
}

// 팝업 닫기
for(var j = 0; j < target.length; j++){
  btnPopClose[j].addEventListener('click', function(){
    this.parentNode.parentNode.style.display = 'none';
  });
}
</script>


<!-- 하단 푸터 시작 -->
<div id='wrapper'>
</div>
<footer>
<h3 class="avo-title"> AVO </h3>
<a href="/">
  <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/instagram-logo.png">
</a>
<a href="/">
  <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/facebook-logo.png">
</a>

<a href="/">
  <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/twitter-logo.png">
</a>


<p class="footer-content1">reviewer3566@gmail.com</p>
<p class="footer-content2">@ 2022 Review service from AVO</p>
</footer>



</body>
</html>
