<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search</title>

  <link rel="stylesheet"  type="text/css" href="../css/index.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/report.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/drop-down.css"/>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <style>

  a {
    text-decoration-line : none;
  }


  .keyword-search{
    padding-top: 10px;
    padding-left: 10px;
  }


  .filter-txt{
    font-size:12px;
    color: #666;
  }


  .select1{
    padding-right: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
  }

  .hifilter{
    width:80px;
    list-style-type: none;
    font-size: 12px;
    margin-right: 8px;
    display: inline;
    padding-left: 10px;
    margin-top: 20px;
  }


  .filter-btn{
    width: 20px;
    height: 20px;
    font-size: 8px;
    background-color: #2F5971;
    color:white;
    border: none;
    border-radius: 5px;
  }
  .date-box {
    width: 200px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  }

  .bd00Bbs th a {
    background:url(../image/common/ico/arrow_0.gif) 100% 50% no-repeat;
    padding-right:16px;
    display:inline-block
  }
  .bd00Bbs th a.reverse {
    background:url(../image/common/ico/arrow_1.gif) 100% 50% no-repeat;
  }

  .iframe-preview{
    top:0;
    margin-left: 180px;
    display: inline;

  }

  #demo{
    width: 180px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    border: 4px solid rgb(233, 233, 233);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    text-align: center;

  }


  .search-button{
    margin-left: 20px;
    right: 20%;
    background-color: #2f5971;
    border-radius: 20px;
    color: #FAFAFA;
    width: 75px;
    height: 30px;
    z-index: 1;
    border: none;
  }

  .search-bar{
    float: left;
    margin-left: 240px;
    margin-top:30px;
  }

</style>

</head>
<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->


  <!-- 사이드 바 -->
<div class="side-menu">
  <ol>

    <br/>
    <div id="otherapp_btn" class="app-name-box" style="display:inline; margin-top:20px;">
      <div style="margin-top:20px; width:180px;display:inline-block;">

      </div>
    </div>

    <!--다른 앱 선택 드롭다운-->
    <div style="position:absolute;">
      <div id="btn_toggle" class="dropdown" style=" position:fixed;">
        <button class="dropbtn dropbtn_click" style="right: 170px; top: 0px;">
          <span class="dropbtn_content dropbtn_click" style="margin-left: 20px;font-size:12px;">Other App</span>
          <span class="dropbtn_click" style=" font-size : 16px; float:right; color:#2f5971;">></span>
        </button>
        <div style="position:sticky; top:0;">
        <div class="dropdown-content" style="top:0;">

        </div>
        </div>

      </div>
    </div>

    <!-- 다른 앱 선택 드롭다운 끝 -->

      <div>
        <hr style="background-color: white;
        height: 1px;
        margin-top: 80px;
        margin-left: 5px;
        width: 190px;"/>
      </div>


    <br/>
    <br/>
    <li style="background-color:white;"><a  style="color:black;" class="menu" >전체리뷰 살펴보기</a></li>
    <li><a class="menu" >리뷰 키워드</a></li>
    <li><a class="menu" >주제별 보고서 받기</a></li>
    <li><a class="menu" href="#">인기 많은 리뷰</a></li>
  </ol>
</div>

<!-- 사이드바 끝 -->


  <!-- 1. Review Crawling 리뷰 가져오기 -->

  <div class="search-bar" >
    <form method="post" action="/review/url" target="targetURL2"

      <span class="filter-txt" style="padding-left:10px;"> 기간 설정 </span>
      <input type="text" id="demo" name="demo" value="" />

      <input type="hidden" name="app_name">
      <button style="display:inline;"class="search-button" id="search-button" type='submit'> SEARCH </button>


    </form>
  </div>



      <script>


      $(document).ready(function(){
        $('#otherapp_btn').click(function(){

        const btnElement
        = document.getElementById('otherapp_btn');
        const otherapp
        = document.getElementById('btn_toggle');

        if(otherapp.style.display=='none'){
          otherapp.style.display= 'inline';

        }else{
          otherapp.style.display='none';

        }

      })

        $("#searchAndroid").click(function (){
          $("#os").val('android');
          if($("#app_name").val() == ""){
            alert("앱 이름을 입력해주세요!");
            return false;
          }
        });

        $("#searchIOS").click(function (){
          $("#os").val('ios');
          if($("#app_name").val() == ""){
            alert("앱 이름을 입력해주세요!");
            return false;
          }
        });
      });

      var today = new Date();

      var date = new Date();
      date.setMonth(date.getMonth() - 3);

        $(function () {
                    $('#demo').daterangepicker({
                        "locale": {
                            "format": "YYYY-MM-DD",
                            "separator": " ~ ",
                            "applyLabel": "확인",
                            "cancelLabel": "취소",
                            "fromLabel": "From",
                            "toLabel": "To",
                            "customRangeLabel": "Custom",
                            "weekLabel": "W",
                            "daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
                            "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                            "firstDay": 1
                        },
                        "startDate": date,
                        "endDate": today,
                        "drops": "down"
                    }, function (start, end, label) {
                        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                      }
                    );
                });

      </script>

    </form>
  </div>

  <br/>



  <script>

  window.onload=()=>{
        document.querySelector('.dropbtn_click').onclick = ()=>{
          dropdown();
        }
        document.getElementsByClassName('fastfood').onclick = ()=>{
          showMenu(value);
        };
        dropdown = () => {
          var v = document.querySelector('.dropdown-content');
          var dropbtn = document.querySelector('.dropbtn')
          v.classList.toggle('show');
          dropbtn.style.borderColor = 'rgb(94, 94, 94)';
        }

        showMenu=(value)=>{
          var dropbtn_icon = document.querySelector('.dropbtn_icon');
          var dropbtn_content = document.querySelector('.dropbtn_content');
          var dropbtn_click = document.querySelector('.dropbtn_click');
          var dropbtn = document.querySelector('.dropbtn');

          dropbtn_icon.innerText = '';
          dropbtn_content.innerText = value;
          dropbtn_content.style.color = '#252525';
          dropbtn.style.borderColor = '#3992a8';
        }
      }
      window.onclick= (e)=>{
        if(!e.target.matches('.dropbtn_click')){
          var dropdowns = document.getElementsByClassName("dropdown-content");

          var dropbtn_icon = document.querySelector('.dropbtn_icon');
          var dropbtn_content = document.querySelector('.dropbtn_content');
          var dropbtn_click = document.querySelector('.dropbtn_click');
          var dropbtn = document.querySelector('.dropbtn');

          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

  </script>





  <br/>
  <br/>


  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js" type="text/JavaScript"></script>


    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js" type="text/JavaScript"></script>
    <script>
    const width = 1200
    const height = 800

    var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);
    d3.csv("../A225482A오딘발할라라이징2021-12-282022-03-28wc.csv", function (data) {
      showCloud(data)
    });
    //scale.linear: 선형적인 스케일로 표준화를 시킨다.
    //domain: 데이터의 범위, 입력 크기
    //range: 표시할 범위, 출력 크기
    //clamp: domain의 범위를 넘어간 값에 대하여 domain의 최대값으로 고정시킨다.
    wordScale = d3.scale.linear().domain([0, 100]).range([30, 150]).clamp(true);
    var keywords = []
    var svg = d3.select("svg")
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")

    function showCloud(data) {
      keywords = [data[0].text, data[1].text, data[2].text]
      d3.layout.cloud().size([width, height])
      //클라우드 레이아웃에 데이터 전달
      .words(data)
      .rotate(function (d) {
        return d.text.length > 3 ? 0 : 0;
      })
      //스케일로 각 단어의 크기를 설정
      .fontSize(function (d) {
        return wordScale(d.frequency);
      })
      //클라우드 레이아웃을 초기화 > end이벤트 발생 > 연결된 함수 작동
      .on("end", draw)
      .start();

      function draw(words) {
        var cloud = svg.selectAll("text").data(words)
        //Entering words
        cloud.enter()
        .append("text")
        .style("fill", function (d) {
          return (keywords.indexOf(d.text) > -1 ? "#fbc280" : "#405275");
        })
        .style("fill-opacity", .5)
        .attr("text-anchor", "middle")
        .attr('font-size', 1)
        .text(function (d) {
          return d.text;
        })
        .on("mouseover", handleMouseOver)
        .on("mouseout", handleMouseOut);
        cloud
        .transition()
        .duration(600)
        .style("font-size", function (d) {
          return d.size + "px";
        })
        .attr("transform", function (d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .style("fill-opacity", 1)
      }
    }

    function handleMouseOver(d) {  // Add interactivity
      console.log("hello");

      // Use D3 to select element, change color and size
      d3.select(this).style("fill-opacity", 0)

      // Specify where to put label of text
      svg.append("text").attr({
        id: "t" + d.x + "-" + d.y,
        x: function() { return d.x - 120; },
        y: function() { return d.y; }
      })
      .attr('font-size', 100)
      .attr('fill', 'black')
      .style('background-color','white')
      .text(function() {
        return d.frequency;  // Value of the text
      });
    }

    function handleMouseOut(d) {
      console.log("bye");
      // Use D3 to select element, change color back to normal
      d3.select(this).style("fill-opacity", 1)

      // Select text by id and then remove
      d3.select("#t" + d.x + "-" + d.y).remove();  // Remove text location
    }

    </script>


    <br/>
    <hr/>
    <br/>








  <br/>
  <br/>
  <br/>

</body>
</html>
