<!DOCTYPE html>
<html lang="ko">
<head>
<title>Review</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"  type="text/css" href="../css/index.css"/>
<link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
<link rel="stylesheet"  type="text/css" href="../css/report.css"/>
<link rel="stylesheet"  type="text/css" href="../css/mypage.css"/>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<style>


.delete-top-box{
  background-color: #2F5971;
  background-image: url(../img/delete-bar.png);
  background-size: 100% 100%;
  width: 100%;
  height: 120px;
  position: relative;
  top: 100px;
}


#font {
  font-family: 'Pretendard'
}

.box1{
  margin: 0 auto;
  margin-top: 150px;
  align-items:center;
  width:600px;
  height: 400px;
  background-color: #ffffff;
  border:none;
  border-radius: 15px;
  align-items:center;
  text-align:center;
  box-shadow: 2px 0 5px #ccc
}

/* ------------- Login ------------- */


.loginBtn-wrap{
  width: 230px;
  height: 40px;
  border-radius: 50%;
  margin-left: 50px;
}

#loginBtn{
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin-top: 0px;
  color: #fff;
  background-color: #d8d8d8;
  border: none;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

#loginBtn:hover{
  background-color: #2F5971;

}

.email-input{
  width: 300px;
  height: 30px;
  border: 2px inset gray;
  border-radius: 20px;
  margin-left:10px;
  padding-left:10px;
}


</style>
<script>
$(function(){
  $('#loginBtn').click(function(){
    var password = $('#password').val();
      $.ajax({
        url: "/user/delete_user",
        type: "POST",
        dataType: "JSON",
        data: { "password": password }
      }).done(function(json){
        if(json == 0){
          $('#check_span').html("");
          $('#check_span').html("X 비밀번호가 일치하지 않습니다.");
          document.getElementById('check_span').style.color = "#FF0000";
        }else{
          $('#check_span').html("");
          alert('정상적으로 탈퇴되었습니다.');
          location.href="/"
        }
      }).fail(function (xhr, status, errorThrown){
        alert("오류가 발생했습니다. 잠시 후 다시 시도해주세요..");
      })
    })
  })
</script>
</head>


<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->


<br/>

  <div class="delete-top-box">
  </div>

  <hr style="background-color: #2F5971;
  height: 2px;
  margin-top: 20px;
  width: 100%;
  float: left;">



  <div class ="box1" style=" align-items:center;">
    <br>
    <p id="font" style="margin-top:60px;"> 회원 탈퇴를 하시면 개인정보, 저장된 리뷰데이터 등이 모두 삭제됩니다.<br> 그래도 탈퇴하시겠습니까? </p>
    <br>
    <div style="margin-top:50px;">
      <span style="float:left; margin-top:5px; margin-left:50px;color:#2F5971; font-size:16px;" id="font" > 비밀번호 확인 </span>
      <input type="password" id="password" style="margin-left:22px;" class="email-input" name="password" />
    </div>
    <br/>
    <span id="check_span"></span>
    <br>

    <div class="loginBtn-wrap" style="textalign:center; margin-top:70px; margin-left:190px;">
      <button type="submit" id="loginBtn" style="float:right;">탈퇴</button>
    </div>
  </div>


  <!-- 하단 푸터 시작 -->
  <div id='wrapper'>
    <div>
    </div>
  </div>
  <footer>
  <h3 class="avo-title"> AVO </h3>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/instagram-logo.png">
  </a>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/facebook-logo.png">
  </a>

  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/twitter-logo.png">
  </a>


  <p class="footer-content1">avo@gmail.com</p>
  <p class="footer-content2">@ 2022 Review service from AVO</p>
  </footer>

  <!-- 하단 푸터 끝 -->
</body>
</html>
