<!DOCTYPE html>
<html lang="ko">
<head>
<title>Review</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"  type="text/css" href="../css/index.css"/>
<link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
<link rel="stylesheet"  type="text/css" href="../css/report.css"/>
<link rel="stylesheet"  type="text/css" href="../css/mypage.css"/>
<style>


#font {
  font-family: 'Pretendard'
}

.box1{
  margin: 0 auto;
  margin-top: 150px;
  align-items:center;
  width:600px;
  height: 500px;
  background-color: #ffffff;
  border:none;
  border-radius: 15px;
  align-items:center;
  text-align:center;
  box-shadow: 2px 0 5px #ccc
}

/* ------------- Login ------------- */


.loginBtn-wrap{
  width: 500px;
  height: 40px;
  border-radius: 50%;
}

#loginBtn{
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin-top: 0px;
  color: #fff;
  background-color: #d8d8d8;
  border: none;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

#loginBtn:hover{
  background-color: #2F5971;

}

.email-input{
  width: 300px;
  height: 30px;
  border: 2px inset gray;
  border-radius: 20px;
  padding-left:10px;
}


</style>





</head>


<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="120px" height="110px" style="padding-top:6px; padding-left: 60px; float:left;" src="../img/reviewer!.png">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 70px; padding-top:40px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li><input type="image" class="my-logo" id="mypage_btn" style=" height:45px;"src="../img/my.png"></li>
        </div>
        <!--다른 앱 선택 드롭다운-->
        <div style="position:absolute;">
          <div id="mypage_toggle" class="dropdown2" style="display:none; position:fixed;">
            <button class="dropbtn" style="top: 60px; left: 245px; width:120px;">
              <span class="dropbtn_content" style="font-size:10px;">hu 님</span>
              <span class="dropbtn_click" style="font-family: Material Icons; font-size : 16px; color : #ffffff; float:right;"
                onclick="dropdown()">arrow_drop_down</span>
            </button>
            <div class="dropdown-content" style="top: 100px; left: 245px; width:120px; padding:0;">
              <div class="fastfood" onclick="showMenu(this.innerText)"><a class="my-txt" href="/mypage/my_main">회원정보수정</div>
              <div onclick="showMenu(this.innerText)"><a class="my-txt" href="/user/logout">로그아웃</a></div>
            </div>
          </div>
        </div>
        <script>
        $(document).ready(function(){
          $('#mypage_btn').click(function(){

          const btnElement
          = document.getElementById('mypage_btn');
          const otherapp
          = document.getElementById('mypage_toggle');

          if(otherapp.style.display=='none'){
            otherapp.style.display= 'inline';

          }else{
            otherapp.style.display='none';

          }

        })
        })
        </script>
        <!-- 다른 앱 선택 드롭다운 끝 -->
      <% } else { %>
        <li><a href="/login/login">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->

    <!-- 사이드 바 -->
  <div class="side-menu">
    <ol>
      <br/>
      <span class="my-page-title">회원정보 수정</span>
      <br/>
      <br/>
      <li><a class="menu" href="/mypage/my_main">기본정보</a></li>
      <li><a class="menu" href="/mypage/security">보안</a></li>
    </ol>
  </div>

  <!-- 사이드바 끝 -->

<br/>

  <div>
    <h3 style="float:left; margin-left:270px; margin-top:30px;"> 이메일 변경 <h3>
  </div>

  <hr style="background-color: #2F5971;
  height: 2px;
  margin-top: 20px;
  width: 100%;
  float: left;">



  <div class ="box1" style=" align-items:center;">
    <br>
    <p id="font" style="margin-top:10px;"> 이메일 변경 </p>
    <br>
    <div style="margin-top:30px;">
      <span style="float:left; margin-top:5px; margin-left:50px;color:#2F5971; font-size:16px;" id="font" > 현재 이메일 </span>
      <input type="text" style="margin-left:22px;" class="email-input" name="findId" />
    </div>
    <div class="loginBtn-wrap" style="textalign:center; margin-top:42px; margin-left:50px;">
      <button type="submit" id="loginBtn" style="float:right;" onclick="location.href='/login/login">인증번호 요청</button>
    </div>
    <div style="margin-top:42px;">
      <span style="float:left; margin-top:5px; margin-left:50px;color:#2F5971; font-size:16px;" id="font" > 새 이메일 </span>
      <input type="text" style="margin-left:40px;" class="email-input" name="findId" />
    </div>
    <div style="margin-top:42px;">
      <span style="float:left; margin-top:7px; margin-left:50px;color:#2F5971; font-size:16px;"  id="font" > 이메일 인증번호 입력 </span>
      <input type="text" style="margin-right: 30px;"class="email-input"  name="findId"/>
    </div>

    <br>

    <div class="loginBtn-wrap" style="textalign:center; margin-top:30px; margin-left:50px;">
      <button type="submit" id="loginBtn" style="float:right;" onclick="location.href='#">저장</button>
    </div>
  </div>


  <!-- 하단 푸터 시작 -->
  <%- include('../footer.ejs') %>
</body>
</html>
