<!DOCTYPE html>
<html lang="ko">
<head>
<title>Review</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"  type="text/css" href="../css/index.css"/>
<link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
<link rel="stylesheet"  type="text/css" href="../css/report.css"/>
<link rel="stylesheet"  type="text/css" href="../css/mypage.css"/>



</head>


<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->

  <div class="top_box_my rela">
  </div>



<br/>

  <div>
    <h3 style="margin-left: auto; margin-right: auto; margin-top:150px;"> 기본정보 <h3>
  </div>


  <div class="basic_info" style="margin-top:40px;">

        <p class="my-main-title">ID</p>
        <img src="../img/line.png" style="float:left; height: 50px;margin-left:20px;margin-top:13px;">
        <p class="my-main-txt">huri</p>

        <button class="delete-user-btn"type="button">계정삭제</button>
  </div>

  <div class="basic_info">

        <p class="my-main-title">e-mail</p>
        <img src="../img/line.png" style="float:left; height: 50px;margin-left:20px;margin-top:13px;">
        <p class="my-main-txt">wjdgn0373@naver.com</p>

        <button class="email-change-btn"type="button">이메일 변경</button>

  </div>

  <div class="basic_info">

        <p class="my-main-title">password</p>
        <img src="../img/line.png" style="float:left; height: 50px;margin-left:20px;margin-top:13px;">
        <p class="my-main-txt">**********</p>

        <button class="pw-change-btn"type="button">비밀번호 변경</button>

  </div>

  <hr style="background-color: gray;
  height: 1px;
  margin-top: 60px;
  width: 100%;
  float: left;">


  <div>
    <h3 style="margin-left: auto; margin-right: auto; margin-top:120px;"> 알림설정 <h3>
  </div>

  <div class="preferences" >
      <div style="position:absolute;">
        <input type="checkbox" id="mail" name="news_letter" class="agree_chk_box"/>
        <label class="agree_chk_lb" style="display:inline;float:left;margin-top:32px;">[선택]메일 알림 기능</label>
      </div>

      <div style="position:absolute;">
        <input type="checkbox" id="sms" name="news_letter" class="agree_chk_box" style="margin-top:90px;"/>
        <label class="agree_chk_lb" style="display:inline;float:left; margin-top:80px;">[선택]SMS 알림 기능</label>
      </div>

      <button class="save-btn"type="button">저장</button>
  </div>


  <!-- 하단 푸터 시작 -->
  <div id='wrapper'>
    <div>
    </div>
  </div>
  <footer>
  <h3 class="avo-title"> AVO </h3>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/instagram-logo.png">
  </a>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/facebook-logo.png">
  </a>

  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/twitter-logo.png">
  </a>


  <p class="footer-content1">avo@gmail.com</p>
  <p class="footer-content2">@ 2022 Review service from AVO</p>
  </footer>

  <!-- 하단 푸터 끝 -->
</body>
</html>
