<!DOCTYPE html>
<html lang="ko">
<head>
<title>Review</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"  type="text/css" href="../css/index.css"/>
<link rel="stylesheet"  type="text/css" href="../css/bar.css"/>
<link rel="stylesheet"  type="text/css" href="../css/report.css"/>
<link rel="stylesheet"  type="text/css" href="../css/mypage.css"/>




</head>


<body>
  <!-- 상단바   -->

  <div class="bar">
    <a href="/">
      <img width="155px" height="49px" style="top:0;padding-top:15px; padding-left: 25px; float:left;" src="../img/logo.gif">
    </a>

    <!-- 메뉴바 마우스 오버 -->
    <ul id="font" style="float:right; padding-right: 30px; padding-top:32px; color:gray;">
      <li><a href="/guest/gu_search">Search</a></li>
      <li><a href="/member/my_app">My app</a></li>
      <li><a href="/member/my_report">Report</a></li>
      <li><a href="/mypage/my_main">Mypage</a></li>
      <% if(session.loginData) { %>
        <div style="display:inline;">
          <li style="margin-right:7px;color:white;"><a href="/user/logout" style="color:white;">Logout</a></li>
        </div>

      <% } else { %>
        <li style="margin-right:12px;color:white;"><a href="/login/login" style="color:white;">Login</a></li>
      <% } %>
      </ul>

      </div>

  <br/>
  <hr/>

  <!-- 상단바 끝 -->

    <!-- 사이드 바 -->
  <div class="side-menu">
    <ol>
      <br/>
      <span class="my-page-title">회원정보 수정</span>
      <br/>
      <br/>
      <li><a class="menu" href="/mypage/my_main">기본정보</a></li>
      <li><a class="menu" href="/mypage/security">보안</a></li>
    </ol>
  </div>

  <!-- 사이드바 끝 -->

<br/>

  <div>
    <h3 style="float:left; margin-left:270px; margin-top:30px;"> 기본정보 <h3>
  </div>

  <hr style="background-color: #2F5971;
  height: 2px;
  margin-top: 20px;
  width: 100%;
  float: left;">

  <div class="basic_info">

        <p class="my-main-title">ID</p>


        <p class="my-main-txt">hu..</p>


        <p class="my-main-title">e-mail</p>


        <p class="my-main-txt">wjdgn0373@naver.com</p>


  </div>

  <div>
    <h3 style="float:left; margin-left:270px; margin-top:30px;"> 알림설정 <h3>
  </div>

  <hr style="background-color: #2F5971;
  height: 2px;
  margin-top: 20px;
  width: 100%;
  float: left;">

  <div class="preferences">

        <input type="checkbox" id="mail" name="news_letter" class="agree_chk" style="margin-left:30px;"/>
        <label class="agree_chk" style="margin-top:25px;">[선택]메일 알림 기능</label>

        <input type="checkbox" id="sms" name="news_letter" class="agree_chk"/>
        <label class="agree_chk" style="margin-top:25px;">[선택]SMS 알림 기능</label>

  </div>


  <!-- 하단 푸터 시작 -->
  <div id='wrapper'>
    <div>
    </div>
  </div>
  <footer>
  <h3 class="avo-title"> AVO </h3>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/instagram-logo.png">
  </a>
  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/facebook-logo.png">
  </a>

  <a href="/">
    <img width="25px" height="25px" style="padding-top:10px; padding-right:5px;" src="../img/twitter-logo.png">
  </a>


  <p class="footer-content1">avo@gmail.com</p>
  <p class="footer-content2">@ 2022 Review service from AVO</p>
  </footer>

  <!-- 하단 푸터 끝 -->
</body>
</html>
